html,body,div,section,p,pre,aside,header,footer,article,figure,ul,li, input,button,textarea, h1, h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	outline: none;
}

::-moz-placeholder { font-style: italic; font-weight: lighter; font-size: 14px; color: #789 }
::-webkit-input-placeholder { font-style: italic; font-weight: lighter; font-size: 14px; color: #789 }

html {
	color: #584141;
	background: #f5faf5;
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
}

h1,h2,h3,h4,h5,p {
	padding: 10px 0; 
}

i {
	margin-right: 2px;
}

a {
	color: #3390cc;
	text-decoration: none;
}

a:hover {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	color: #005580;
}

ul li {
	list-style: none;
	display: inline-block;
}

img {
	width: 100%;
	border: none;
}

time {
	color: #888;
	margin-right:5px;
	font-size: 14px;
}

code {
	color: #d14;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	padding: 0 3px;
	border-radius: 5px;
}
  
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="url"], 
input[type="text"] {
	padding: 0 5px;
	width: 350px;
	height: 30px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.09) inset;
}

input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="password"]:focus, 
input[type="tel"]:focus, 
input[type="url"]:focus, 
input[type="text"]:focus,
textarea:focus {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	border: 1px solid #9af;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.09) inset, 0 0 10px rgba(222, 236, 245, 0.3);
}

textarea {
	padding: 5px 10px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.09) inset;
}

quote {
	font-style: italic;
	padding: 10px;
	position: relative;
	color: #777;
	font-size: 14px;
}

quote:before{
	content: '\0022';
	position: absolute;
	left: 0;
	top: 5px;
}

quote:after {
	content: '\0022';
	position: absolute;
	right: 0;
	bottom: 15px;
}

.heart-trans {
	-webkit-animation-name: heart-trans;
	-moz-animation-name: heart-trans;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
}

@-webkit-keyframes heart-trans {
	50%{-webkit-transform: scale(1.6);}
	100%{-webkit-transform: scale(1);}
}
@-moz-keyframes heart-trans {
	50%{-moz-transform: scale(1.6);}
	100%{-moz-transform: scale(1);}
}

@keyframes heart-trans {
	50%{transform: scale(1.6);}
	100%{transform: scale(1);}
}

/*all pages basic*/
.clearfix {
	clear: both;
	content: '';
}

.btn {
	padding: 10px 5px;
	background-color: #EEE9E9;
	color: #6B6B6B;
	border: 1px solid #eee;
	cursor: pointer;
	border-radius: 3px;
	min-width: 60px;
	margin: 10px 0;
}

.btn:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	background-color: #e5e5e5;
}

.grey {
	color: #aaa;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	padding-top: 50px;
}

.submit-btn {
	cursor: pointer;
	padding: 5px 20px;
	border: 1px solid #3545A2;
	background: #559;
	color: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.submit-btn:hover {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	background: #55a;
	cursor: pointer;
	box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
}

.separator {
	border-left: 1px solid #999;
	margin-left: 2px;
	width: 5px;
	padding-right: 5px;
}

clip {
	color: #770;
	white-space: nowrap;
	background-color: #e5f5ff;
	border-left: 1px solid #aaf;
	padding: 1px 5px;
}

header {
	width: 100%;
	height: 38px;
	background-color: #303739;
	box-shadow: 0 0 3px rgba(0,0,0,1);
	position: fixed;
	z-index: 9999;
}

header a {
	color: #ABB0B3;
}

header a:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: none;
	background: inherit;
	color: #fff;
}

header nav {
	font-size: 16px;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	font-weight: lighter;
}

#site_icon {
	width: 130px;
	display: inline-block;
	float: left;
	margin-top: -2px;
}

#site_icon img {
	border: none;
	box-shadow: none;
}

header ul {
	float: right;
	margin-top: 10px;
}

header ul li {
	padding: 0 20px; 
}


header .nav, header .auth {
	display: inline-block;
	padding-left: 100px;
}

header .auth {
	float: right;
	padding: 0 50px 0 0;
	font-size: 14px;
}

/*food page*/

.module {
	background-color: #fff;
	border-radius: 2px;
	margin-top: 10px;
	padding: 20px 10px;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

article {
	width: 920px;
	min-height: 400px;
}

.food-related-nav {
	padding: 1px;
	margin: 10px 0 0;
}

.food-related-nav li {
	cursor: pointer;
	margin: 0;
	padding: 5px 20px;
	font-size: 14px;
}

.nav-active {
	border: 1px solid #ddd;
	border-bottom: none;
	border-top: 2px solid rgba(200,0,0,0.5);
	background-color: #fff;
	color: #000;
}

.food-story, .food-evaluation, .food-comments, .food-share {
	margin-top: -2px;
	margin-bottom: 20px;
}

.food-evaluation, .food-comments, .food-share {
	display: none;
}

aside {
	position: absolute;
	top: 50px;
	width: 270px;
}

aside.food {
	right: 0;
}

aside.user {
	left: 0;
}

article p {
	line-height: 25px;
	font-size: 14px;
}


article .figure {
	padding: 10px 30px 30px;
}

article .description {
	margin:10px 0;
	word-spacing: 30px;
}

article .like-food-btn {
	background-color: #fff;
	font-size: 20px;
	color: #9B2828;
	border: 1px solid #f5f5f5;
	border-radius: 0;
	padding: 10px 20px;
	word-spacing: 0;
}

article .like-food-btn:hover {
	box-shadow: 0 0 1px rgba(200,200,200,0.1), 0 0 20px rgba(250,250,250, 0.1) inset;
	background: none;
	transition: all 1s;
	border: 1px solid #efefef;
}

article .bref-info {
	color: #524D39;
	font-size: 14px;
	border-top: 1px dashed #efefef;
	margin-top: -2px;
	padding-bottom: 70px;
	box-shadow: none;
}

.food-title {
	text-align: center;
	display: block;
	font-size: 26px;
	margin: 20px 0;
	overflow: hidden;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.bref-info .author {
	width: 200px;
	margin-left: 40px;
	float: left;
}

.bref-info .author span {
	margin: 30px 10px 0;
	display: inline-block;
}

.bref-info .view {
	margin-left: 420px;
	float: left;
	margin-top: 30px;
	color: #888;
}

.bref-info img, .avatar img {
	width: 48px;
	border-radius: 50px;
	float: left;
	margin-right: 10px;
}

article .content {
	padding: 20px;
}

article .content li {
	list-style-type: disc;
	display: list-item;
	margin-left: 30px;
}

.food-comments .hd, .food-comments .bd {
	margin-left: 40px;
}

.food-comments .comment-item {
	margin-left: 0;
}

.food-share .share-img {
	background-color: #fafefa;
	padding: 50px 20px;
}

#comment-text {
	width: 800px;
	min-height: 80px;
	margin: 5px 0;
	resize: vertical;
}

.comment-item {
	font-size: 14px;
	margin: 20px 0 10px 40px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #eee;
	width: 95%;
	position: relative;
}

.comment-item .bd, .comment-item .ft {
	margin-left: 60px; 
	margin-right: 60px; 
}

.comment-item .bd li {
	list-style-type:disc; 
}

.comment-item .vote-action {
	position: absolute;
	right: 10px;
	top: 10px;
}

.vote-action button {
	padding: 10px 0;
	background-color: #EEE9E9;
	color: #6B6B6B;
	border: 1px solid #eee;
	cursor: pointer;
	border-radius: 3px;
	width: 60px;
}

.vote-action button:hover {
	background-color: #827FD3;
	color: #fff;
}

.comment-item .revert {
	float: right;
}

.food-address {
	padding: 2px 5px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 3px;
}

.food-address:before {
	content: "";
}

.food-recommend li {
	font-size: 14px;
	width: 80px;
	padding: 10px;
	margin: 5px;
	text-align: center;
}

.food-recommend  img{
	display: block;
	margin-bottom: 10px;
	border-radius: 2px;
}

.food-group li {
	margin-left: 15px;
	margin-bottom: 10px;
	width: 220px;
	height: 80px;
	background-color: #fefefe;
	border: 1px solid #eee;
	border-radius: 0 10% 0 10%;
}

.food-group img {
	border: none;
	box-shadow: none;
	margin: 12px;
	width: 50px;
	float: left;
}

.food-group h5, .food-group span {
	float: left;
	margin-left: 30px;
	color: #555;
	margin-top: 3px;
}

.food-group span {
	font-size: 14px;
	font-weight: lighter;
	color: #999;
}

/*index when sign out*/

.district-things {
	padding: 20px 30px;
	font-size: 14px;
	margin-bottom: 20px;
}

.district-things .district-select {
	padding: 8px 30px;
	float: right;
	margin: -28px 30px;
}

.district-things .title {
	padding-left: 10px;
}

.district-things ul {
	border-top: 1px dashed #dddddd;
}

.district-things .food {
	padding: 10px;
	width: 530px;
	float: left;
}

.district-things .food li {
	text-align: center;
	width: 200px;
	height: 200px;
	position: relative;
	margin: 20px;
	overflow: hidden;
}

.district-things .food a {
	color: #eee;
}

.district-things .food-info {
	position: absolute;
	margin: 0;
	padding: 5px 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

.district-things .story {
	margin-top: 20px;
	width: 550px;
	display: inline-block;
}

.district-things .story ul {
	padding: 20px;
	color: #666;
	height: 400px;
}

.district-things .story li {
	display: block;
	line-height: 24px;
}

.district-things .group {
	margin-top: 80px;
	padding: 10px;
	width: 320px;
	display: inline-block;
}
.district-things .group li {
	padding: 10px;
	padding-left: 30px;
}

.district-things .group img {
	width: 70px;
	float: left;
	margin-top: 10px;
	border-radius: 5% 10%;
}

.district-things .group .info {
	margin-left: 90px;
}

.district-things .evaluation {
	margin-top: 10px;
	width: 770px;
	float: left;
	clear: left;
}

.district-things .evaluation .food-img {
	width: 200px;
	display: inline-block;
	float: left;
	margin-top: 10px;
}

.district-things .evaluation li {
	position: relative;
	padding: 10px 0 20px 20px;
}

.district-things .evaluation .info {
	float:left;
	margin: 10px 0;
	color: #955;
	font-size: 12px;
}

.district-things .evaluation .content {
	line-height: 20px;
	position: relative;
	padding: 20px;
	margin-left: 20px;
	display: inline-block;
	width: 450px;
	background-color: #fcfffc;
	height: 200px;
	border: 1px solid #fafafa;
}

.district-things .evaluation .content:before {
	content: '';
	position: absolute;
	border-style: solid;
	display: inline-block;
	top: 0;
	left: 0;
	border-width: 10px 5px;
	margin-top: 10px;
	border-color: #cca transparent transparent #cca;
}

.district-things .evaluation .bref {
	overflow: hidden;
	height: 150px;
}

/*explore*/

/*sign in*/
#signin {
	width: 600px;
	height: 300px;
	padding: 30px;
	margin: 100px auto;
}

#signin li {
	padding: 20px;
}

#signin .content {
	color: #999;
	padding: 30px;
	text-align: center;
}

/*group page*/

.group-page {
	position: relative;
}

section.group {
	padding: 20px;
	width: 180px;
	float: left;
}

section.group .info {
	padding: 10px 0 20px;
	border-bottom: 1px solid #eee;
}

section.group .member {
	padding: 10px 0 20px;
}

section.group .member img {
	width: 40px;
	border-radius: 50%;
}

.group-stuffs {
	margin-left: 250px;
	padding: 0 20px;
	border-left: 1px solid #eee;
}

section.event {
	position: relative;
	padding-bottom: 20px;
	margin: 10px;
}

/*group index*/
.group-list {
	position: relative;
}


.local-label {
	font-size: 14px;
	position: absolute;
	right: 20px;
	top: 30px;
}

.group-list .group-item {
	margin: 10px;
	position: relative;
	padding: 15px;
	width: 180px;
	height: 250px;
	box-shadow: 0 0 1px rgba(100,100,100,0.03);
	border: 1px solid #e5e5e5;
	background-image: -webkit-linear-gradient(left top, #FFFFFF, #f0f0f0);
	background-image: -moz-linear-gradient(left top, #FFFFFF, #f0f0f0);
}

.group-list .group-item img {
	width: 80px;
	border-radius: 50%;
}

.group-list .group-item .up, .group-list .group-item .down {
	text-align: center;
	padding: 20px;
}
.group-list .group-item .up  {
	border-bottom: 1px solid #ececec;
}

.group-list .group-item .grp-nums {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 12px;
}

.join-group-btn {
	border: 1px solid #ddd;
	border-radius: 5% 5% 10% 10%;
	padding: 5px 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.03);
}

.joined {
	background-color: #dde;
}

/*user page*/
.user-page {
	position: relative;
}

.user-stuffs {
	margin-left: 250px;
	padding: 0 20px;
	border-left: 1px solid #eee;
}


section.user {
	padding: 20px;
	width: 180px;
	float: left;
}

section.user .info {
	padding: 10px 0 20px;
	border-bottom: 1px solid #eee;
}

section.user .group {
	padding: 10px 0 20px;
}

section.user .group img {
	width: 40px;
	border-radius: 50%;
}

.linkto-all {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 13px;
	color: #666;
}

section.like, section.create, section.event{
	position: relative;
	padding-bottom: 20px;
	margin: 10px;
}

section.like li{
	text-align: center;
}

section.like .thumb_img {
	width: 250px;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin: 10px 20px;
	text-align: center;
}


section.like img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

section.create ul {
	padding: 10px 20px;
}

section.create li{
	width: 100%;
	line-height: 30px;
	font-size: 15px;
}

section.create time {
	margin-left: 10px;
}