html,body,div,section,p,pre,aside,header,footer,article,figure,ul,li, input,button,textarea, h1, h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	outline: none;
}

::-moz-placeholder { font-style: italic; font-weight: lighter; font-size: 14px; color: #777 }
::-webkit-input-placeholder { font-style: italic; font-weight: lighter; font-size: 14px; color: #777 }

body.white {
	background-color: #fff;
}

body {
	color: #584141;
	background: #f0f0f0;
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
}

h1,h2,h3,h4,h5,p {
	padding: 10px 0; 
}

i {
	margin: 0 2px;
}

a {
	color: #494F59;
	text-decoration: none;
}

a:hover {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	color: #005580;
	text-decoration: underline;
}

ul li {
	list-style: none;
	display: inline-block;
}

img {
	width: 100%;
	border: none;
}

time {
	color: #888;
	margin-right:5px;
	font-size: 14px;
}

code {
	color: #d14;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	padding: 0 3px;
	border-radius: 5px;
}
  
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="url"], 
input[type="text"] {
	padding: 0 5px;
	width: 350px;
	height: 30px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.09) inset;
}

input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="password"]:focus, 
input[type="tel"]:focus, 
input[type="url"]:focus, 
input[type="text"]:focus,
textarea:focus {
	border: 1px solid #bbb;
	box-shadow: 0 1px 2px 1px rgba(0,0,0,0.01) inset,0 1px 2px 0 rgba(0,0,0,0.03) inset;
}

textarea {
	padding: 5px 10px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 2px;
}

quote {
	font-style: italic;
	padding: 10px;
	position: relative;
	color: #777;
	font-size: 14px;
}

quote:before{
	content: '\0022';
	position: absolute;
	left: 0;
	top: 5px;
}

quote:after {
	content: '\0022';
	position: absolute;
	right: 0;
	bottom: 15px;
}

.heart-trans {
	-webkit-animation-name: heart-trans;
	-moz-animation-name: heart-trans;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
}

@-webkit-keyframes heart-trans {
	50%{-webkit-transform: scale(1.6);}
	100%{-webkit-transform: scale(1);}
}
@-moz-keyframes heart-trans {
	50%{-moz-transform: scale(1.6);}
	100%{-moz-transform: scale(1);}
}

@keyframes heart-trans {
	50%{transform: scale(1.6);}
	100%{transform: scale(1);}
}

/*all pages basic*/
a.action {
	font-size: 14px;
	text-decoration: none;
}

.avatar img {
	border: 1px solid #fff;
}

.avatar img:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.clearfix {
	clear: both;
	content: '';
}

.btn {
	padding: 4px 5px;
	background-color: #f8f8f8;
	color: #6B6B6B;
	border: 1px solid #e8e8e8;
	cursor: pointer;
	border-radius: 2px;
	min-width: 50px;
	margin: 10px 0;
}

.btn:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	background-color: #eeeeee;
}

.grey {
	color: #aaa;
}

.wrapper {
	width: 1050px;
	margin: 0 auto;
	position: relative;
}

.submit-btn {
	cursor: pointer;
	padding: 6px 20px;
	border: 1px solid #888888;
	background-color: #7DAA98;
	color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.submit-btn:hover {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	background-color: #7C9B8B;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.separator {	
	border-left: 1px solid #999;
	margin-left: 2px;
	width: 5px;
	padding-right: 5px;
}

clip {
	color: #770;
	font-size: 14px;
	white-space: nowrap;
	background-color: #e5f5ff;
	border-left: 1px solid #aaf;
	padding: 2px 3px;
	margin-left: 3px;
}

header {
	width: 100%;
	height: 38px;
	background-color: #303739;
	box-shadow: 0 0 3px rgba(0,0,0,1);
	position: fixed;
	z-index: 9999;
}

header a {
	color: #ABB0B3;
}

header a:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: none;
	background: inherit;
	color: #fff;
}

header nav {
	font-size: 16px;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	font-weight: lighter;
}

#site_icon {
	width: 130px;
	display: inline-block;
	float: left;
	margin-top: -2px;
}

#site_icon img {
	border: none;
	box-shadow: none;
}

header ul {
	float: right;
	margin-top: 10px;
}

header ul li {
	padding: 0 20px; 
}

header .nav, header .auth {
	display: inline-block;
	padding-left: 100px;
}

header .auth {
	float: right;
	padding: 0 50px 0 0;
	font-size: 14px;
}
.module {
	background-color: #fff;
	border-radius: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 20px;
	font-size: 15px;
	box-shadow: 0 1px 4px 1px rgba(0,0,0,0.05),0 1px 2px 0 rgba(0,0,0,0.1);
}

.module:hover {
	box-shadow: 0 1px 4px 1px rgba(0,0,0,0.05), 0 1px 2px 0 rgba(0,0,0,0.2);
}

.ete-module{
	background-color: #fff;
	border-radius: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 20px 10px;
}

article {
	width: 780px;
	margin: 0 auto;
	min-height: 600px;
}

article .content ul li{
	display: list-item;
	margin-left: 20px;
}

article .content ul li {
	list-style-type: disc;
}

article .content ol li {
	list-style-type: decimal;
}

/*food page*/



.food-related-nav {
	margin-top: 30px;
}

.food-related-nav li {
	cursor: pointer;
	margin: 0 -1px 1px;
	padding: 6px 20px;
	font-size: 14px;
	color: #777;
}

.nav-active {
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	color: #555 !important;
	font-weight: bold;
}

.food-page .food-story, .food-page .food-evaluation, .food-page .food-comments, .food-page .food-share {
	margin-top: -2px;
	border-top: 1px solid #ccc;
}

.food-page .food-evaluation, .food-page .food-story, .food-page .food-share {
	display: none;
}

aside {
	float: right;
	min-width: 200px;
}

article p {
	line-height: 25px;
	font-size: 14px;
}


article .description {
	margin:10px 0;
	word-spacing: 30px;
}

article .like-food-btn {
	background: none;
	font-size: 20px;
	color: #9B2828;
	border: 1px dashed #c88;
	border-radius: 2px;
	padding: 8px 20px;
	word-spacing: 0;
	box-shadow: none;
}

article .like-food-btn:hover {
	box-shadow: none;
	background: none;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	border-style: solid;
}

article .bref-author-info {
	color: #524D39;
	font-size: 14px;
	border-top: 1px dashed #ddd;
	margin: 10px 0;
	padding: 20px 0 50px;
	position: relative;
}

.food-title {
	text-align: center;
	display: block;
	font-size: 26px;
	margin: 20px 0;
	overflow: hidden;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.bref-author-info .author {
	width: 200px;
	margin-left: 10px;
	float: left;
}

.bref-author-info .author span {
	margin: 30px 10px 0;
	display: inline-block;
}

.bref-author-info .view {
	position: absolute;
	right: 10px;
	color: #888;
	bottom: 0;
}

.bref-author-info img, .avatar img {
	width: 48px;
	border-radius: 50px;
	float: left;
	margin-right: 10px;
}

.food-related section>.hd, .food-related section>.bd {
	margin-left: 10px;
}

.food-comments>.bd {
	padding-top: 15px;
}

.food-share .share-img {
	background-color: #fafefa;
	padding: 50px 20px;
}

article textarea {
	width: 96%;
	min-height: 80px;
	margin: 5px 0;
	resize: vertical;
}

li.comment-item+li.comment-item {
	border-top: 1px dashed #eee;
}

.comment-item {
	font-size: 14px;
	margin: 20px 0 0;
	padding: 30px 0 0;
	width: 100%;
	position: relative;
}

.comment-item .bd, .comment-item .ft {
	margin-left: 60px; 
	margin-right: 60px; 
}

.comment-item .bd li {
	list-style-type:disc; 
}

.comment-item .vote-action {
	position: absolute;
	right: 10px;
	top: 10px;
}

.vote-action button:hover {
	background-color: #EEEEEE;
	color: #360F0F;
}

.comment-item .revert {
	float: right;
	margin-right: 10px;
}

.food-address {
	padding: 2px 5px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 3px;
}

.food-address:before {
	content: "";
}

.food-recommend li {
	font-size: 14px;
	width: 80px;
	padding: 10px;
	margin: 5px;
	text-align: center;
}

.food-recommend  img{
	display: block;
	margin-bottom: 10px;
	border-radius: 2px;
}

.food-group li {
	margin-left: 15px;
	margin-bottom: 10px;
	width: 220px;
	height: 80px;
	background-color: #fefefe;
	border: 1px solid #eee;
	border-radius: 0 10% 0 10%;
}

.food-group img {
	border: none;
	box-shadow: none;
	margin: 12px;
	width: 50px;
	float: left;
}

.food-group h5, .food-group span {
	float: left;
	margin-left: 30px;
	color: #555;
	margin-top: 3px;
}

.food-group span {
	font-size: 14px;
	font-weight: lighter;
	color: #999;
}

/*index when sign out*/
.index-page {
	margin: 10px auto;
	width: 920px;
	font-size: 15px;
}

.index-page .header {
	padding: 10px 5px;
	font-size: 14px;
	position: relative;
}

.index-page .header h2 {
	border-bottom: 1px solid #eee;
}

.index-page .header .area-label {
	position: absolute;
	right: 0;
	top: 25px;
	word-spacing: 5px;
}
#area-select {
	padding: 5px 8px;
	color: #555;
	border: 1px solid #eee;
	background-color: #f5f5f5;
}

.index-page .header ul {
	display: none;
	padding: 20px 30px;
	margin: 10px 0;
}

.index-page .header li {
	margin: 5px;
	padding: 5px 15px;
}

.food-list-module {
	margin: 20px 50px;
	position: relative;
}

.food-list-module li {
	text-align: center;
	position: relative;
}

.food-list-module  .thumb_img, .food-list-module .overlay {
	width: 180px;
	height: 180px;
	overflow: hidden;
	margin: 10px;
}
.food-list-module  .thumb_img {
	position: relative;
}

.food-list-module .overlay {
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
	color: #fff;
	box-shadow: 1px 2px 10px rgba(0,0,0,1);
}

.food-list-module .overlay:hover {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 1;
}

.food-list-module  .thumb_img img, .food-list-module .overlay>span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.food-list-module .overlay>span {
	width: 91%;
	height: 20%;
	padding: 10% 5%;
	top: 30%;
	background-color:rgba(255,255,255,0.4);
}

/*sign in*/
#signin {
	width: 600px;
	height: 300px;
	padding: 30px;
	margin: 100px auto;
}

#signin li {
	padding: 20px;
}

#signin .content {
	color: #999;
	padding: 30px;
	text-align: center;
}

/*group page*/

.group-page {
	position: relative;
}

section.group {
	padding: 20px;
	width: 180px;
	float: left;
}

section.group .info {
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

section.member {
	padding: 10px 20px;
}

section.member img {
	width: 40px;
}

.group-stuffs {
	position: relative;
	margin-left: 250px;
	padding: 0 20px;
	border-left: 1px solid #eee;
}

.group-stuffs section.event {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	margin: 10px;
	border-right: 1px solid #eee;
	height: 100%;
}

.group-stuffs section.member {
	position: absolute;
	left: 80%;
	height: 100%;
	top: 0;
}

.group-stuffs section.member li {
	padding: 5px;
}

/*group index*/
.group-list {
	position: relative;
}


.local-label {
	font-size: 14px;
	position: absolute;
	right: 20px;
	top: 30px;
}

.group-list .group-item {
	margin: 10px;
	position: relative;
	padding: 15px;
	width: 180px;
	height: 250px;
	box-shadow: 0 0 1px rgba(100,100,100,0.03);
	border: 1px solid #e5e5e5;
	background-image: -webkit-linear-gradient(left top, #FFFFFF, #f0f0f0);
	background-image: -moz-linear-gradient(left top, #FFFFFF, #f0f0f0);
}

.group-list .group-item img {
	width: 80px;
	border-radius: 50%;
}

.group-list .group-item .up, .group-list .group-item .down {
	text-align: center;
	padding: 20px;
}
.group-list .group-item .up  {
	border-bottom: 1px solid #ececec;
}

.group-list .group-item .grp-nums {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 12px;
}

.join-group-btn {
	border: 1px solid #ddd;
	border-radius: 5% 5% 10% 10%;
	padding: 5px 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.03);
}

.joined {
	background-color: #dde;
}

/*user page*/
.user-page {
	position: relative;
	margin: 20px auto;
}

.user-stuffs {
	margin-left: 230px;
	padding: 0 10px;
	border-left: 1px solid #eee;
}

section.user {
	padding: 20px;
	width: 180px;
	float: left;
}

section.user .info {
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

section.user .following {
	border-bottom: 1px solid #eee;
	padding: 5px 0;
}
section.user .following a {
	padding: 10px 0;
	display: inline-block;
	width: 80px;
	color: #777;
	text-align: center;
}

section.user .following a+a{
	border-left: 1px solid #eee; 
}

section.user .hometown {
	padding: 20px;
	text-align: center;
	word-spacing: 10px;
	letter-spacing: 2px;
	font: 16px cursive;
	color: #578;
}


.linkto-all {
	position: absolute;
	top: 15px;
	right: 10px;
	font-size: 13px;
	color: #777;
}


.user-stuffs section.like, .user-stuffs section.create, .user-stuffs section.event{
	position: relative;
	padding-bottom: 20px;
	margin: 10px;
}

section.like li{
	text-align: center;
}

section.like .thumb_img {
	width: 220px;
	height: 180px;
	overflow: hidden;
	position: relative;
	margin: 10px;
	text-align: center;
}


section.like img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

section.create ul {
	padding: 10px 20px;
}

section.create li{
	width: 100%;
	line-height: 30px;
	font-size: 15px;
}

section.create time {
	margin-left: 10px;
}

/*story + evaluation page*/
.post-page {
	background-color: #fff;
	margin: 0;
}

.post-page article {
	position: absolute;
	left: 0;
	top: 0;
}

.text-view {
	width: 750px;
	margin: 0 auto;
}

.post-title,.post-content, .post-action {
	padding: 35px;
}

.post-title {
	padding-top: 20px;
	padding-bottom: 10px;
}

.post-title h1>a {
	font-size: 32px;
	font-weight: lighter;
	text-decoration: none;
}

.post-content {
	padding-bottom: 20px;
}

.post-page .food-related {
	position: fixed;
	padding-top: 20px;
	background-color: #444;
	color: #fff;
	width: 100%;
	height: 100%;
	border-left: 1px solid #444;
	padding-left: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.3) inset;
}

.post-page .food-related a {
	color: #E6E6E6;
}

.post-page .food-related section {
	width: 340px;
	padding: 10px;
}

.post-page .food-related section>h4 {
	text-shadow: 0 0 10px rgba(0,0,0,1);
}
.food-related section figure {
	margin: 10px 0;
	font-size: 14px;
}

.post-page .thumb_img img {
	width: 80px;
	height: 80px;
	margin: 10px 0;
	margin-right: 15px;
	float: left;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius:100%;
}

.post-page .top-story {
	clear: both;
	padding: 10px 0;
}

.post-page .top-story li {
	padding: 5px 0;
	display: block;
	font-size: 14px;
}

.post-page .thumb_img a {
	font-weight: lighter;
}

.post-comment {
	clear: both;
}

.post-comment .hd, .post-comment .bd {
	margin-left: 30px;
}
