<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>食物私塾</title>
		<link rel="stylesheet" href="../css/app.css">
		<script src="../js/ejs_production.js"></script>
		<script src="../js/jquery-2.1.0.min.js"></script>
		<script>
			// $(function(){
			// 	$.ajax({
			// 		'url': '../data/food1.json',
			// 		'context': $(".wrapper"),
			// 		'type':'GET',
			// 		'dataType': 'json',
			// 		'success': function(data){
			// 			var template = new EJS({url: 'food.ejs'}).render(data);
						
			// 		}
			// 	});

			// });
		</script>
	</head>
	<body>
		<header>
			<nav>
				<div id="site_icon">
					<a href="#">
						<img src="../imgs/blueicon.png">
					</a>
				</div>
				<div class="nav">
					<ul>
						<li>	
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">探索</a>
						</li>
						<li>
							<a href="#">小组</a>
						</li>
					</ul>
				</div>
				<div class="auth">
					<ul>
						<li>
							<a href="#" class="signin">登录</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="wrapper">
			<section class="district-things module">
				<h4 class="title">热门食物</h4>
				<ul class="food">
					<li>
						<a href="#">
							<img src="../imgs/album1.jpg">
						</a>
						<span class="food-info">
							<a href="#">岐山面</a>
						</span>
					</li>
					<li>
						<a href="#">
							<img src="../imgs/album2.jpg">
						</a>
						<span class="food-info">
							<a href="#">岐山面</a>
						</span>
					</li>
					<li>
						<a href="#">
							<img src="../imgs/album2.jpg">
						</a>
						<span class="food-info">
							<a href="#">岐山面</a>
						</span>
					</li>
					<li>
						<a href="#">
							<img src="../imgs/album1.jpg">
						</a>
						<span class="food-info">
							<a href="#">岐山面</a>
						</span>
					</li>
				</ul>
				<span class="district-select">
					<a href="#">西安</a>
				</span>
				<section class="story">
					<h4 class="title">食物的故事</h4>
					<ul>
						<li>
							<a href="#">先秦xxx之xxx好吃的什么的历史</a>
							<h6 class="grey">小马甲</h6>
							<p>陕西八大怪之一的“面条像裤带”的裤带面,俗称 “biang-biang（现代汉语字典上没有这个字）面”，正宗的关中人所做的帮“biangbiang面”和通常城里人所吃的扯面还是有一定区别的。正宗的“biangbiang面”，一根面条宽度可达二三寸，长度则在1米上下，厚度厚时与硬币差不多，薄时却如同蝉翼。一根面条所用去的面粉通常可达2两，因而对于饭量小的人来说，一根面条足够一顿饭，而对大饭量的关中人来说，一顿吃8两1斤也是轻轻松松的。关中人吃面，喜欢将面和硬揉软，擀厚、切宽。这种面煮熟以后，捞在碗里，无论是浇臊子，还是没油辣子。吃起来都很光滑、柔软、热火、有筋性。既可口又耐饥。人们脖子一伸一缩，呼噜噜吞进肚里，吃饱吃胀，饱嗝一打，顿时浑身上下都是力气，拉架子车、上山扛石头，五六个小时不吃不喝也...</p>
						</li>
						<li>
							<a href="#">占位符啊的历史</a>
						</li>
						<li>
							<a href="#">第三篇关于食物的故事</a>
						</li>
					</ul>
				</section>
				<section class="evaluation">
					<h4 class="title">经典食评</h4>
					<ul>
						<li>
							<div class="food-img">
								<a href="#">
									<img src="../imgs/album2.jpg">
								</a>
							</div>
							<div class="content">
								<a href="#">我是专业的点评人</a>
								<div class="bref">
									<p>看起来跟烧焦了一样，不好看啊，但是作为一个专业食评人，好看的某些程度上就预言着它可能很好吃，首先，从色泽上看啊，发往发违法哈维if哈无发货的施工方与规范和胃癌匞凤凰哇而非和外方ui回复唯爱凤凰外盒王鹏飞哈维不自觉乱码了啊，为什么会这样，发违法hi阿文哥红河谷发帖旗鼓放寒假康师傅...</p>
									<p>发往发违法哈维if哈无发货的施工方与规范和胃癌匞凤凰哇而非和外方ui回复唯爱凤凰外盒王鹏飞哈维不自觉乱码了啊，为什么会这样，发违法hi阿文哥红河谷发帖旗鼓放寒假康师傅...</p>
								</div>
								<div class="info">
									<span>120评论</span>
									<span>120喜欢</span>
								</div>
							</div>
						</li>
						<li>
							<div class="food-img">
								<a href="#">
									<img src="../imgs/album2.jpg">
								</a>
							</div>
							<div class="content">
								<a href="#">我是专业的点评人</a>
								<div class="bref">
									<p>不自觉乱码了啊，为什么会这样，发违法hi阿文哥红河谷发帖旗鼓放寒假康师傅...</p><p>看起来跟烧焦了一样，不好看啊，但是作为一个专业食评人，好看的某些程度上就预言着它可能很好吃，首先，从色泽上看啊，发往发违法哈维if哈无发货的施工方与规范和胃癌匞凤凰哇而非和外方ui回复唯爱凤凰外盒王鹏飞哈维不自觉乱码了啊，为什么会这样，发违法hi阿文哥红河谷发帖旗鼓放寒假康师傅...</p>
								</div>
								<div class="info">
									<span>120评论</span>
									<span>120喜欢</span>
								</div>
							</div>
						</li>
					</ul>
				</section>
				<section class="group">
					<h4 class="title">小组</h4>
					<ul>
						<li>
							<a href="#">
								<img src="../imgs/wecaneat.png">
							</a>
							<div class="info">
								<h4>
									<a href="#">陕西面食</a>
								</h4>
								<span class="grey">42 吃货</span>
								<p>一群吃货，因为共同的趣味，对陕西面食的热爱，聚在这里, 聊和吃有关的事情</p>
							</div>
						</li>
						<li>
							<a href="#">
								<img src="../imgs/wecaneat.png">
							</a>
							<div class="info">
								<h4>
									<a href="#">北方面食</a>
								</h4>
								<span class="grey">42 吃货</span>
								<p>一群吃货，因为共同的趣味，对陕西面食的热爱，聚在这里, 聊和吃有关的事情</p>
							</div>
						</li>
						<li>
							<a href="#">
								<img src="../imgs/wecaneat.png">
							</a>
							<div class="info">
								<h4>
									<a href="#">陕西吃货群</a>
								</h4>
								<span class="grey">42 吃货</span>
								<p>一群吃货，因为共同的趣味，对陕西面食的热爱，聚在这里, 聊和吃有关的事情</p>
							</div>
						</li>
					</ul>
				</section>
				<div class="clearfix"></div>
			</section>
		</div>	
	</body>
</html>