<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>食物私塾</title>
		<link rel="stylesheet" href="../css/app.css">
		<script src="../js/ejs_production.js"></script>
		<script src="../js/jquery-2.1.0.min.js"></script>
		<script src="../main.js"></script>
		<link rel="stylesheet" href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.css">
		<script>
			// $(function(){
			// 	$.ajax({
			// 		'url': '../data/food1.json',
			// 		'context': $(".wrapper"),
			// 		'type':'GET',
			// 		'dataType': 'json',
			// 		'success': function(data){
			// 			var template = new EJS({url: 'food.ejs'}).render(data);
						
			// 		}
			// 	});

			// });
		</script>
	</head>
	<body class="white">
		<!-- <header>
			<nav>
				<div id="site_icon">
					<a href="#">
						<img src="../imgs/blueicon.png">
					</a>
				</div>
				<div class="nav">
					<ul>
						<li>	
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">探索</a>
						</li>
						<li>
							<a href="#">小组</a>
						</li>
					</ul>
				</div>
				<div class="auth">
					<ul>
						<li>
							<a href="#" class="signin">登录</a>
						</li>
					</ul>
				</div>
			</nav>
		</header> -->
		<div class="wrapper">
			<section class="index-page">
				<section class="header">
					<h2>食物私塾</h2>
					<label class="area-label">
						<span>所在城市</span>
						<a id="area-select" href="#"><b>西安</b><i class="fa fa-caret-down"></i></a>
					</label>
					<ul>
						<li><a href="#">北京</a></li>
						<li><a href="#">天津</a></li>
						<li><a href="#">西安</a></li>
						<li><a href="#">石家庄</a></li>
						<li><a href="#">哈尔滨</a></li>
						<li><a href="#">郑州</a></li>
						<li><a href="#">太原</a></li>
						<li><a href="#">广州</a></li>
						<li><a href="#">上海</a></li>
						<li><a href="#">厦门</a></li>
						<li><a href="#">深圳</a></li>
						<li><a href="#">深圳</a></li>
						<li><a href="#">深圳</a></li>
						<li><a href="#">深圳</a></li>
						<li><a href="#">深圳</a></li>
						<li><a href="#">深圳</a></li>
						<li><a href="#">所有城市</a></li>
					</ul>
				</section>
				<section class="food-list-module district-foods">
					<h4 class="title">热门食物</h4>
					<ul>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/food1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/album1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/album2.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/food1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/album1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/album2.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/album1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/food1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
					</ul>
					<a href="#" class="linkto-all">全部</a>
				</section>
				<section class="food-list-module hot-foods">
					<h4 class="title">你身边的</h4>
					<ul>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/album2.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/album1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/food1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/album2.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
					</ul>
					<a href="#" class="linkto-all">全部</a>
				</section>
				<section class="food-list-module new-foods">
					<h4 class="title">最新添加</h4>
					<ul>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/food1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/album1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/food1.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
						<li>
							<div class="thumb_img">
								<a href="#">
									<img src="../imgs/album2.jpg">
								</a>
							</div>
							<a href="#">
								<div class="overlay">
									<span>岐山面是陕西一种很经典的面食，面宽口感非常筋道</span>
								</div>
							</a>
							<span class="food-info">
								<a href="#">岐山面</a>
							</span>
						</li>
					</ul>
					<a href="#" class="linkto-all">全部</a>
				</section>	
			</section>
		</div>	
	</body>
</html>