<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<link rel="stylesheet" href="../css/app.css">
		<script src="../js/ejs_production.js"></script>
		<script src="../js/jquery-2.1.0.min.js"></script>
		<script>
			$(function(){
			// 	$.ajax({
			// 		'url': '../data/food1.json',
			// 		'context': $(".wrapper"),
			// 		'type':'GET',
			// 		'dataType': 'json',
			// 		'success': function(data){
			// 			var template = new EJS({url: 'food.ejs'}).render(data);
						
			// 		}
			// 	});

			// });
		</script>
	</head>
	<body>
		<section id="signin" class="module">
			<h4>使用社交账号登录</h4>
			<div class="content">
				<ul>
					<li>
						<a href="#" title="使用微博登录">
							<img src="../imgs/weibo.png">
						</a>
					</li>
				</ul>
				<p>先随便逛逛<b><a href="/views/index.html">去首页</a></b></p>
			</div>
		</section>
	</body>
</html>