<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="http://developer.amap.com/Public/css/demo.Default.css" />
		<link rel="stylesheet" href="/css/app.css">
		<script src="/js/ejs_production.js"></script>
		<script src="/js/jquery-2.1.0.min.js"></script>
		<script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=5a5a2fd30688b2b6bcc8c94f8d020af6"></script>
		<script language="javascript">
			var mapObj,Marker1,Marker2,Marker3;
			//初始化地图对象，加载地图
			function mapInit(){
		    mapObj = new AMap.Map("iCenter",{
		      center:new AMap.LngLat(116.397428,39.90923), //地图中心点
		      level:100 //地图显示的比例尺级别
		    });
		     
		    //地图加载时添加点标记物
		    addOverlays();
				setMapFitView();
			}
			 
			//添加点标记覆盖物，点的位置在地图上分布不均
			function addOverlays(){
		    mapObj.clearMap();
		     
		    Marker1=new AMap.Marker({  
			    map:mapObj,    
			    icon:"http://webapi.amap.com/images/1.png",
			    position:new AMap.LngLat(116.205467,39.907761),
			    offset:new AMap.Pixel(-12,-36)
		    });
			}
			 
			//地图自适应显示函数
			function setMapFitView(){
				var newCenter = mapObj.setFitView();
			}
		</script>
	</head>
	<body onLoad="mapInit()">
		<header>
			<nav>
				<div id="site_icon">
					<a href="#">
						<img src="/imgs/blueicon.png">
					</a>
				</div>
				<div class="nav">
					<ul>
						<li>	
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">探索</a>
						</li>
						<li>
							<a href="#">小组</a>
						</li>
					</ul>
				</div>
				<div class="auth">
					<ul>
						<li>
							<a href="#" class="signin">登录</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="wrapper">
			<article>
				<section class="event-info module">
					
				</section>
			</article>
			<aside>
				<div id="iCenter"></div>
    		<div style="padding:2px 0px 0px 5px;font-size:12px">
    		</div>
			</aside>
		</div>
	</body>
</html>