<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/app.css">
		<script src="/js/ejs_production.js"></script>
		<script src="/js/jquery-2.1.0.min.js"></script>
		<script>
			$(function(){
			// 	$.ajax({
			// 		'url': '../data/food1.json',
			// 		'context': $(".wrapper"),
			// 		'type':'GET',
			// 		'dataType': 'json',
			// 		'success': function(data){
			// 			var template = new EJS({url: 'food.ejs'}).render(data);
						
			// 		}
			// 	});

			// });
		</script>
	</head>
	<body>
		<header>
			<nav>
				<div id="site_icon">
					<a href="#">
						<img src="/imgs/blueicon.png">
					</a>
				</div>
				<div class="nav">
					<ul>
						<li>	
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">探索</a>
						</li>
						<li>
							<a href="#">小组</a>
						</li>
					</ul>
				</div>
				<div class="auth">
					<ul>
						<li>
							<a href="#" class="signin">登录</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="wrapper">
			<section class="groups module">
				<h4>所有小组</h4>
				<quote>生命很短，请别灌水</quote>
				<ul>
					<li>
						<div class="group-item">
							<img src="/imgs/group1.jpg">
							<h5>这就是京味儿</h5>
							<span>310 吃货</span>
						</div>
					</li>
					<li>
						<div class="group-item">
							
						</div>
					</li>
					<li>
						<div class="group-item">
							
						</div>
					</li>
					<li>
						<div class="group-item">
							
						</div>
					</li>
				</ul>
			</section>
		</div>
	</body>
</html>