<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>所有小组</title>
		<link rel="stylesheet" href="../../css/app.css">
		<script src="../../js/ejs_production.js"></script>
		<script src="../../js/jquery-2.1.0.min.js"></script>
		<link rel="stylesheet" href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.css">
		<script>
			// $(function(){
			// 	$.ajax({
			// 		'url': '../data/food1.json',
			// 		'context': $(".wrapper"),
			// 		'type':'GET',
			// 		'dataType': 'json',
			// 		'success': function(data){
			// 			var template = new EJS({url: 'food.ejs'}).render(data);
						
			// 		}
			// 	});

			// });
		</script>
	</head>
	<body>
		<header>
			<nav>
				<div id="site_icon">
					<a href="#">
						<img src="../../imgs/blueicon.png">
					</a>
				</div>
				<div class="nav">
					<ul>
						<li>	
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">探索</a>
						</li>
						<li>
							<a href="#">小组</a>
						</li>
					</ul>
				</div>
				<div class="auth">
					<ul>
						<li>
							<a href="#" class="signin">登录</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="wrapper">
			<section class="group-list module">
				<h4>所有小组</h4>
				<quote>生命很短，请别灌水</quote>
				<div class="local-label">
					<i class="fa fa-th-large"></i>
					<a href="#">西安</a>
				</div>
				<ul>
					<li class="group-item">
						<div class="up">
							<a href="#">
								<img src="../../imgs/group1.jpg">
								<h5>这就是京味儿</h5>
							</a>
						</div>
						<div class="down">
							<button href="#" class="join-group-btn joined btn">
								<i class="fa fa-check"></i>已加入
							</button>
							<span class="grp-nums grey">
								<i class="fa fa-users"></i>310
							</span>
						</div>
					</li>
					<li class="group-item">
						<div class="up">
							<a href="#">
								<img src="../../imgs/group2.jpg">
								<h5>陕西吃货群</h5>
							</a>
						</div>
						<div class="down">
							<button href="#" class="join-group-btn btn">
								<i class="fa fa-plus"></i>加入小组
							</button>
							<span class="grp-nums grey">
								<i class="fa fa-users"></i>310
							</span>
						</div>
					</li>
					<li class="group-item">
						<div class="up">
							<a href="#">
								<img src="../../imgs/group3.jpg">
								<h5>家常东北菜</h5>
							</a>
						</div>
						<div class="down">
							<button href="#" class="join-group-btn btn">
								<i class="fa fa-plus"></i>加入小组
							</button>
							<span class="grp-nums grey">
								<i class="fa fa-users"></i>310
							</span>
						</div>
					</li>
					<li class="group-item">
						<div class="up">
							<a href="#">
								<img src="../../imgs/group4.jpg">
								<h5>我们海南就是淡</h5>
							</a>
						</div>
						<div class="down">
							<button href="#" class="join-group-btn btn">
								<i class="fa fa-plus"></i>加入小组
							</button>
							<span class="grp-nums grey">
								<i class="fa fa-users"></i>310
							</span>
						</div>
					</li>
					<li class="group-item">
						<div class="up">
							<a href="#">
								<img src="../../imgs/group1.jpg">
								<h5>广东下午茶</h5>
							</a>
						</div>
						<div class="down">
							<button href="#" class="join-group-btn btn">
								<i class="fa fa-plus"></i>加入小组
							</button>
							<span class="grp-nums grey">
								<i class="fa fa-users"></i>310
							</span>
						</div>
					</li>
					<li class="group-item">
						<div class="up">
							<a href="#">
								<img src="../../imgs/group1.jpg">
								<h5>凯里人家</h5>
							</a>
						</div>
						<div class="down">
							<button href="#" class="join-group-btn btn">
								<i class="fa fa-plus"></i>加入小组
							</button>
							<span class="grp-nums grey">
								<i class="fa fa-users"></i>310
							</span>
						</div>
					</li>
				</ul>
			</section>
		</div>
	</body>
</html>