<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/app.css">
		<script src="/js/ejs_production.js"></script>
		<script src="/js/jquery-2.1.0.min.js"></script>
		<script>
			// $(function(){
			// 	$.ajax({
			// 		'url': '/data/food1.json',
			// 		'context': $(".wrapper"),
			// 		'type':'GET',
			// 		'dataType': 'json',
			// 		'success': function(data){
			// 			var template = new EJS({url: 'food.ejs'}).render(data);
						
			// 		}
			// 	});

			// });
		</script>
	</head>
	<body>
		<header>
			<nav>
				<div id="site_icon">
					<a href="#">
						<img src="/imgs/blueicon.png">
					</a>
				</div>
				<div class="nav">
					<ul>
						<li>	
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">探索</a>
						</li>
						<li>
							<a href="#">小组</a>
						</li>
					</ul>
				</div>
				<div class="auth">
					<ul>
						<li>
							<a href="#" class="signin">登录</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="wrapper">
			<aside class="user module">
				<section class="info">
					<img src="/imgs/author1.jpg">
					<h3>落在深海</h3>
					<quote>斯特洛最冷酷实用主义，有奇怪的情结。#請把你世界的歌流向我，改变我#</quote>
				</section>
				<section class="group">
					<h4>加入的小组</h4>
					<ul>
						<li>
							<a href="#" title="陕西吃货群">
								<img src="/imgs/group1.jpg">
							</a>
						</li>
						<li>
							<a href="#" title="陕西吃货群">
								<img src="/imgs/group2.jpg">
							</a>
						</li>
						<li>
							<a href="#" title="陕西吃货群">
								<img src="/imgs/group3.jpg">
							</a>
						</li>
					</ul>
				</section>
			</aside>
			<article class="user-stuffs module">
				<section class="food">
					<h4>喜欢的食物</h4>
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</section>
			</article>
		</div>
	</body>
</html>