<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../../css/app.css">
		<script src="../../js/ejs_production.js"></script>
		<script src="../../js/jquery-2.1.0.min.js"></script>
		<script>
			// $(function(){
			// 	$.ajax({
			// 		'url': '/data/food1.json',
			// 		'context': $(".wrapper"),
			// 		'type':'GET',
			// 		'dataType': 'json',
			// 		'success': function(data){
			// 			var template = new EJS({url: 'food.ejs'}).render(data);
						
			// 		}
			// 	});

			// });
		</script>
	</head>
	<body>
	<!-- 	<header>
			<nav>
				<div id="site_icon">
					<a href="#">
						<img src="../../imgs/blueicon.png">
					</a>
				</div>
				<div class="nav">
					<ul>
						<li>	
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">探索</a>
						</li>
						<li>
							<a href="#">小组</a>
						</li>
					</ul>
				</div>
				<div class="auth">
					<ul>
						<li>
							<a href="#" class="signin">登录</a>
						</li>
					</ul>
				</div>
			</nav>
		</header> -->
		<div class="wrapper">
			<div class="user-page module">
				<section class="user">
					<div class="info">
						<img src="../../imgs/author1.jpg">
						<h3>落在深海</h3>
						<quote>维斯特洛最冷酷实用主义，有奇怪的情结。#请把你世界的歌流向我，改变我</quote>
					</div>
					<div class="following">
						<a href="#" class="action">
							<span>关注</span>
							<br>
							<strong>23</strong>
						</a>
						<a href="#" class="action">
							<span>被关注</span>
							<br>
							<b>10</b>
						</a>
					</div>
					<div class="hometown">
						<span>Home:</span>
						<a href="#">西安市</a>
					</div>
				</section>
				<article class="user-stuffs">
					<section class="like">
						<h4>ta喜欢</h4>
						<a href="#" class="linkto-all">全部</a>
						<ul>
							<li>
								<div class="thumb_img">
									<a href="#">
										<img src="../../imgs/food1.jpg">
									</a>
								</div>
								<span><a href="#">裤带面</a></span>
							</li>
							<li>
								<div class="thumb_img">
									<a href="#">
										<img src="../../imgs/food2.jpg">
									</a>
								</div>
								<span><a href="#">凉皮</a></span>
							</li>
							<li>
								<div class="thumb_img">
									<a href="#">
										<img src="../../imgs/food3.jpg">
									</a>
								</div>
								<span><a href="#">肉夹馍</a></span>
							</li>
						</ul>
					</section>
					<section class="create">
						<h4>ta记录</h4>
						<a href="#" class="linkto-all">全部</a>
						<ul>
							<li>
								<clip>故事</clip>
								<a href="#">忘不了的裤带面，忘不了的故乡情</a>
								<time>一天前</time>
							</li>
							<li>
								<clip>食评</clip>
								<a href="#">陕北娃的北漂故事</a>
								<time>三个月前</time>
							</li>
							<li>
								<clip>故事</clip>
								<a href="#">忘不了的裤带面，忘不了的故乡情</a>
								<time>一天前</time>
							</li>
							<li>
								<clip>食评</clip>
								<a href="#">陕北娃的北漂故事</a>
								<time>三个月前</time>
							</li>
							<li>
								<clip>食评</clip>
								<a href="#">陕北娃的北漂故事</a>
								<time>三个月前</time>
							</li>
							<li>
								<clip>食评</clip>
								<a href="#">陕北娃的北漂故事</a>
								<time>三个月前</time>
							</li>
						</ul>
					</section>
				</article>
			</div>
		</div>
	</body>
</html>