<!DOCTYPE html>
<html>
	<head>
		<title>story page</title>
		<link rel="stylesheet" href="../../css/app.css">
		<script src="../../js/ejs_production.js"></script>
		<script src="../../js/jquery-2.1.0.min.js"></script>
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.css">
	</head>
	<body class="post-page">
		<div class="wrapper">
			<article class="post-main">
				<section  class="post-title">
					<h1>
						<a href="#">山西刀削面的传说故事</a>
					</h1>
					<clip>故事</clip>
				</section>
				<section class="post-content content">
					<p>
		       山西人爱吃醋，国内外闻名；山西人爱吃面，举世人皆知。自古以来，晋人主食乃面食，以花样多、品质好、影响大而颇为出名，故海内外早有"世界面食在中国，中国面食在山西"的说法。东到娘子关，西到黄河边，南到风陵渡，北到雁门关，一般家庭妇女都能以面食为原料加工数种面食；许多山西汉子有时在客人面前也会显露一手面食"绝"活。
		     </p>
	       <p>传说，蒙古鞑靼侵占中原后，建立元朝。为防止"汉人"造反起义，将家家户户的金属全部没收，并规定十户用厨刀一把，切菜做饭轮流使用，用后再交回鞑靼保管。 
	        一天中午，一位老婆婆将棒子、高粱面和成面团，让老汉取刀。结果刀被别人取走，老汉只好返回，在出鞑靼的大门时，脚被一块薄铁皮碰了一下，他顺手拣起来揣在怀里。回家后，锅开得直响，全家人等刀切面条吃。可是刀没取回来，老汉急得团团转，忽然想起怀里的铁皮，就取出来说：就用这个铁皮切面吧！老婆一看，铁皮薄而软，嘟喃着说：这样软的东西怎能切面条。老汉气愤地说："切"不动就"砍"。"砍"字提醒了老婆，她把面团放在一块木板上，左手端起，右手持铁片，站在开水锅边"砍"面，一片片面片落入锅内，煮熟后捞到碗里，浇上卤汁让老汉先吃，老汉边吃边说："好得很，好得很，以后不用再去取厨刀切面了。" 
	      </p> 
		     <p>
		     	 这样一传十，十传百，传遍了晋中大地。至今不论男女都会削面。 
		      后来，"凤阳"出了朱皇帝（朱元璋）统一了中国，建立明朝，这种"砍面"流传于社会小摊贩，又经过多次改革，演变为现在的刀削面。刀削面柔中有硬，软中有韧，浇卤、或炒或凉拌，均有独特风味，如略加山西老陈醋食之尤妙。 
		      传统的操作方法是一手托面，一手拿刀，直接削到开水锅里，其要诀是："刀不离面，面不离刀，胳膊直硬手平，手端一条线，一棱赶一棱，平刀是扁条，弯刀是三棱。
		     </p> 
				</section>
				<section class="post-action">
					<a class="action" href="#">
						<i class="fa fa-plus"></i>
						收藏
					</a>
				</section>
				<section class="post-comment">
					<div class="hd">
						<form method="POST">
							<h4>写点什么</h4>
							<textarea id="post-comment-area" placeHolder="简单写点什么" required></textarea>
							<button class="submit-btn">发表</button>
						</form>
					</div>
					<div class="bd">
						<ul>
							<li class="comment-item">
								<div class="avatar">
									<a href="#">
										<img src="../../imgs/avatar1.jpg">
									</a>
								</div>
								<div class="hd">
									<span>
										<a href="#">小马甲</a>
									</span>
									<time>三个月前</time>
									<a href="javascript:void(0);" data-name="litterrock" class="revert">回复</a>
								</div>
								<div class="bd">
									<p>楼下是SB啊，我才是正宗的吃货，我个人看来，羊肉泡馍更好吃！</p>
								</div>
							</li>
							<li class="comment-item">
								<div class="avatar">
									<a href="#">
										<img src="../../imgs/avatar2.jpg">
									</a>
								</div>
								<div class="hd">
									<span>
										<a href="#">fall_ark</a>
									</span>
									<time>一年前</time>
									<a href="javascript:void(0);" data-name="litterrock" class="revert">回复</a>
								</div>
								<div class="bd">
									<p>搭配各种臊子，裤带面可以变化出各种不一样的风味搭配各种臊子，裤带面可以变化出各种不一样的风味搭配各种臊子，裤带面可以变化出各种不一样的风味搭配各种臊子，裤带面可以变化出各种不一样的风味搭配各种臊子，裤带面可以变化出各种不一样的风味</p>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</article>
			<aside>
				<section class="food-related">
					<section class="food-story">
						<h4>关于食物</h4>
						<figure class="thumb_img">
							<img src="../../imgs/food1.jpg">
							<div class="info">
								<h2><a href="#">刀削面</a></h2>
								<span class="grey">20人喜欢</span>
							</div>
						</figure>
						<div class="top-story">
							<ul>
								<li>
									<a href="#">舌尖上的刀削面</a>
								</li>
								<li>
									<a href="#">舌尖上的刀削面1之发文发额无法</a>
								</li>
								<li>
									<a href="#">舌尖上的刀削面2</a>
								</li>
								<li>
									<a href="#">舌尖上的刀削面3</a>
								</li>
								<li>
									<a href="#">舌尖上的刀削面3</a>
								</li>
							</ul>
						</div>
					</section>
					<section class="author-module">
							<h4>关于作者</h4>
							<figure class="thumb_img">
								<img src="../../imgs/author1.jpg">
								<div class="info">
									<h2><a href="#">落在深海</a></h2>
									<span class="grey">10篇记录</span>
								</div>
							</figure>
						<div class="top-story">
							<ul>
								<li>
								<a href="#">关于吃的故事</a>
							</li>
							<li>
								<a href="#">他小时候关于吃的故事1</a>
							</li>
							<li>
								<a href="#">关于吃的故事2</a>
							</li>
							<li>
								<a href="#">他小时候关于吃的故事3</a>
							</li>
							<li>
								<a href="#">他小时候关于吃的故事3</a>
							</li>
							</ul>
						</div>
					</div>						
				</section>
			</section>
		</article>
	</body>
</html>